body {
  width: 100%;
  min-height: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
}

.title {
  color: #323232;
  font-style: italic;
  display: block;
  text-align: center;
}

.App__wrap {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr minmax(80px, 100%);
  grid-template-areas: "header header"
                      "sidebar content"
                      "sidebar content";
  min-height: 100%;
}